.body{
	font-family: 'Fira Sans', sans-serif;
}
.height{
	height: 100vh;
}
.image-background{
	background-image: url(../images/disdasha-model.jpg);
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
	height: 100%;
}
.logo-image{
	height: 50px;
}

.email-input-area{ 
	margin: 20px 0 20px;
	position: relative;
	width: 400px;
	height: 47px; 
}
.email-form-container{
	width: 400px;
}
.email-input-area .email-input{ 
	width: 100%; 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	border-radius: 40px; 
	border: 0; 
	outline: 0; 
	padding: 0 140px 0 25px; 
	transition: all .2s; 
	background: #F1F2F3; 
	box-shadow: inset 0 0 1px rgba(0,0,0,.1); 
	border: 1px solid transparent; 
}

.email-input-area .email-input:focus{ 
	border-color: #e1c79b; 
}

.email-input-area .submit-btn{ 
	width: 120px; 
	text-align: center; 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	right: 0; 
	font-size: .9em;
	border-radius: 0 40px 40px 0; 
	transition: all .3s; 
	background:#e1c79b; 
	color: #fff; 
	border:none;
}
.email-input-area .submit-btn:hover{ 
	background: #e1c79b;
}

.text-after-notify{ 
	color: #999; 
}

.inner-container{
	padding-left: 20%;
}

.coming-soon-conatiner{
	margin-top: 200px;
}
.coming-soon-conatiner h1{
	font-size: 3.5rem;
}

@media only screen and (max-width: 840px) {
	.email-input-area{ 
		width: 100%;
	}
	.email-form-container{
		width: 100%;
	}
	.hidden-mobile{
		display: none;
	}
	.inner-container{
		padding-left: 0px;
	}
	.coming-soon-conatiner{
		margin-top: 100px;
	}
	.email-input-area .submit-btn{ 
		width: 90px; 
		
	}
}

@media only screen and (max-width:1040px) {
	.inner-container{
		padding-left: 0%;
	}
}
.hide{
	display: none;
}